{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ base }}">OFTEN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ base }}/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ base }}/overview">Übersicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ base }}/logout">Logout ({{ user.getUsername() }})</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}